.header{
  padding: 55px 30px 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  &__control{
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    img{
      width: 35px;
      height: 35px;
      object-fit: contain;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 35px;
    color: var(--cl-additional);
  }
}