.footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--cl-bg-additional);
  &__nav{
    max-width: 690px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  a{
    // flex: 0 1 20%;
  }
}

