.footer{
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--cl-bg-additional);
  &__item{
    flex: 0 1 20%;
  }
}
.footer-nav{
  padding: 15px 0 13px;
  text-align: center;
  color: var(--cl-bg-additional);
  &--active{
    color: var(--cl-main);
  }
  &__icon{
    width: 44px;
  }
  &__text{
    display: block;
  }
}
