.item{
  position: relative;
  display: block;
  padding: 8px 0 0;
  text-align: center;
  color: var(--cl-main);
  text-decoration: none;
  font-size: 10px;
  @media screen and (min-width: 768px) {
    padding: 15px 0 13px;
  }
  &--active{
    color: var(--cl-additional);
  }
  &__preview{
    position: relative;
    display: inline-block;
    width: 22px;
    @media screen and (min-width: 768px) {
      width: 44px;
    }
    img{
      width: 100%;
    }
  }
  &__notification{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 18px;
    height: 18px;
    color: var(--cl-additional);
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    background-color: var(--cl-bg-notification);
    border-radius: 50%;
    @media screen and (min-width: 768px) {
      top: -20px;
      right: -12px;
      width: 35px;
      height: 35px;
      font-size: 25px;
      line-height: 35px;
    }
  }
  &__icon{
    display: inline-block;
    width: 44px;
    height: 44px;
    object-fit: contain;
  }
  &__title{
    display: block;
    margin-top: 5px;
    font-size: 10px;
    @media screen and (min-width: 768px) {
      margin-top: 10px;
      font-size: 20px;
    }
  }
}
