:root{
  --cl-main: #546076;
  --cl-additional: #fff;
  --cl-success: #78a659;
  --cl-error: #d2447b;
  --cl-border: #273246;
  --cl-bg-main: #1d2637;
  --cl-bg-additional: #232c3e;
  --cl-bg-notification: #e4972d;
}

body{
  background-color: var(--cl-bg-main);
  background-image: url('./img/app-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--cl-main);
  font-family: 'Roboto', 'Open sans', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  padding-bottom: 110px;
}