.chart{
  position: relative;
  padding-top: 40px;
  &__item{
    display: block;
    width: 100%;
    aspect-ratio: 2;
  } 
  &__value{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    &--green{
      color: var(--cl-success);
    }
    &--red{
      color: var(--cl-error);
    }
  }
}